- absl-py==0.15.0
- alabaster==0.7.12
- albumentations==1.3.1
- altair==4.2.0
- astor==0.8.1
- astunparse==1.6.3
- async-timeout
- asynctest==0.13.0
- atomicwrites==1.4.0
- audioread==3.0.0
- augmentation==0.7
- Augmentor==0.2.12
- backports.weakref==1.0.post1
- backports.zoneinfo==0.2.1
- base58==2.1.1
- bcrypt
- beautifulsoup4
- bitarray
- black==19.10b0
- blaze==0.11.3
- blinker==1.4
- boto==2.49.0
- Bottleneck
- braincog==0.2.7.19
- Brian2==2.5.1
- brotlipy==0.7.0
- cachetools==5.2.0
- certifi
- cffi
- chardet
- charset-normalizer
- click
- cloudpickle
- clyent==1.2.2
- commonmark==0.9.1
- comtypes==1.1.10
- conda==23.1.0
- conda-build==3.22.0
- conda-repo-cli==1.0.5
- conda-verify==3.4.2
- constantly==15.1.0
- coverage
- cryptography
- cycler==0.10.0
- Cython
- cytoolz==0.11.0
- dask==2.1.0
- datalad-installer==1.0.0
- datashape==0.5.4
- debugpy
- decorator
- defusedxml
- Deprecated==1.2.14
- dill
- distributed==2.1.0
- dv==1.0.12
- easydict==1.10
- einops==0.6.1
- et-xmlfile==1.1.0
- expelliarmus==1.1.12
- fastcache==1.1.0
- fastjsonschema
- filelock
- Flask
- Flask-Cors
- flatbuffers==1.12
- fonttools==4.25.0
- fsspec==2023.1.0
- future==0.18.2
- fvcore==0.1.5.post20220512
- gast==0.3.3
- google-auth==2.12.0
- google-auth-oauthlib==0.4.6
- google-pasta==0.2.0
- grpcio==1.32.0
- gym==0.26.2
- h5py==2.10.0
- huggingface-hub==0.16.4
- imageio-ffmpeg==0.4.8
- importlib-metadata==4.12.0
- iopath==0.1.10
- ipykernel
- ipython
- ipython-genutils
- ipywidgets
- isort
- jdcal
- jedi
- Jinja2==2.10.1
- joblib
- json5
- jsonschema
- jupyter
- jupyter-client
- jupyter-console
- jupyter-server
- jupyter_core
- jupyterlab
- jupyterlab-launcher
- jupyterlab-pygments
- jupyterlab-server
- jupyterlab-widgets
- Keras==2.2.0
- Keras-Applications==1.0.2
- Keras-Preprocessing==1.1.2
- kiwisolver==1.4.4
- libarchive-c
- libclang==14.0.6
- librosa==0.8.1
- libsvm-official==3.30.0
- llvmlite==0.38.0
- lxml
- lz4==4.3.2
- Markdown==3.4.1
- MarkupSafe==2.1.1
- matplotlib==3.5.3
- mkl-fft==1.3.1
- mkl-service==2.3.0
- mock
- mpmath==1.2.1
- msgpack
- mtcnn==0.1.1
- multidict
- multipledispatch==0.6.0
- munch==2.5.0
- munkres==1.1.4
- mypy-extensions==0.4.3
- natsort==8.3.1
- navigator-updater==0.3.0
- networkx==2.3
- nltk
- nose
- notebook
- numba
- numexpr
- numpy==1.19.5
- oauthlib==3.1.0
- opencv-contrib-python==4.3.0.38
- opencv-python==4.3.0.38
- opencv-python-headless==4.8.0.74
- openpyxl==3.0.10
- opt-einsum==3.3.0
- paddle-bfloat==0.1.7
- paddlepaddle==2.4.2
- patsy==0.5.2
- pbr==5.11.1
- pefile==2019.4.18
- pep8==1.7.1
- Pillow==9.3.0
- py-cpuinfo==9.0.0
- pyarrow==10.0.1
- pyasn1-modules==0.2.8
- pycosat==0.6.3
- pycrypto==2.6.1
- pycurl==7.45.1
- pydeck==0.8.0
- pygame==2.5.2
- pylint==2.3.1
- Pympler==1.0.1
- pyodbc
- pyOpenSSL
- pyparsing
- PyQt5==5.15.2
- pyqt5-plugins==5.15.4.2.2
- PyQt5-Qt5==5.15.2
- PyQt5-sip==12.11.0
- pyqt5-tools==5.15.4.3.2
- pyreadline==2.1
- pyrsistent==0.18.1
- pyspark==3.2.1
- pytest==7.1.2
- python-dateutil==2.8.2
- pytorch-lightning==1.7.5
- PyYAML==6.0
- PyZMQ==24.0.1
- qtpy==2.3.1
- radec==1.0.1
- requests==2.26.0
- requests-oauthlib==1.3.1
- resampy==0.2.2
- rsa==4.8
- s3transfer==0.5.0
- scikit-image==0.19.2
- scikit-learn==1.0.2
- scipy==1.7.3
- seaborn==0.11.2
- sentry-sdk==2.9.0
- setuptools==65.5.0
- six==1.16.0
- smart-open==6.3.0
- sphinx==4.5.0
- SQLAlchemy==1.4.41
- statsmodels==0.13.2
- sympy==1.10.1
- tensorboard==2.8.0
- tensorflow==2.8.0
- tensorflow-estimator==2.8.0
- termcolor==1.1.0
- threadpoolctl==3.1.0
- tifffile==2022.10.10
- toolz==0.11.2
- tornado==6.1
- tqdm==4.62.3
- transformers==4.24.0
- typing-extensions==4.4.0
- ujson==5.6.0
- watchdog==2.1.6
- websockets==11.0.3
- wget==3.2
- xarray==0.20.2
- xlrd==2.0.1
- zipp==3.6.0
- zstandard==0.18.0